<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.androidfrontend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/askville"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".QuestionIdActivity"
            android:label="Detailed Information">

        </activity>
        <activity android:name=".SignupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.androidfrontend.SignupActivity" />
        </activity>

        <activity android:name=".AddQuestionActivity">



        </activity>


        <activity android:name=".Login">


        </activity>
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".EditUserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.androidfrontend.ViewProfile_Nevigation" />
        </activity>
        <activity android:name=".ViewprofileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.androidfrontend.HomePageActivity" />
        </activity>
        <activity android:name=".HomePageActivity" />
        <activity
            android:name=".ViewProfile_Nevigation"
            android:label="@string/title_activity_view_profile__nevigation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.androidfrontend.HomePageActivity" />
        </activity>
        <activity android:name=".testing"></activity>
        <activity
            android:name=".answerbyqus"
            android:label="@string/title_activity_answerbyqus"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.androidfrontend.HomePageActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>